body {
    margin: 0%;
    padding: 0%;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, black,white,white);
}
.foto,.imgfooter {
    border-radius: 50px;
    width: 100px;
}
.sobre p {
    font-size: 20px;
}
.sobre h1 {
    padding-bottom: 30px;
}

.container {
    padding-top: 5% ;
    text-align: center;
    margin-top: 10%;
    background-color: rgba(67, 66, 66, 0.21);
    padding-bottom: 5%;
}
.equipe {
    margin-top: 10%;
    font-size: 10px;
}
.historia, .sobre{
    font-size: 15px;
    color: rgb(24, 23, 22);
    text-align: center;
}
.historia h1 {
    padding-bottom: 25px;
}
.barra a {
    text-decoration: none;
    margin-left: 5px;
    padding-left: 10px;
    font-size: large;
}
.equipe {
   text-align: center;
   
}
.col {
    padding-top: 5%;
}
#Clientes {
    margin-top: 10%;
    padding: 12px;
    text-align: center;
    align-items: center;
}
.table {
    text-align: center;
    margin-top: 5%;
    color: white;
}
.Servicos {
    margin-top: 5%;
    color: black;
    text-align: center;

}
.table-bordered {
    margin: 5%;
    width: 90%;
    font-size: 20px;
}
#servicos th {
    color: rgb(0, 0, 0);
}
.perguntasf h1 {
    text-align: center;
    padding: 5%;
    color: black;
}
.perguntasf div {
    padding: 20px;
}

.perguntasf {
    background-color: rgba(153, 150, 150, 0.295);
    margin: 10%;
    color: #fdffff;
    font-size: 20px;
}
.rodape {
    background-color: #f8f9fa;
}
.contato {
   
    text-align: center;
    padding: 51px;
}
.imgfooter {
    margin-left: 74px;
    padding-top: 42px;
    align-items: center;
}
 .nome {
     font-size: 20px;
     padding-left: 203px;
     padding-top: 80px;
 }
 

