body {
    margin: 0%;
    padding: 0%;
    background-color: #9ba2a2 ;
}
.foto {
    border-radius: 10px;
}

.container-fluid_1 {
    right: 10px;
    background-color: #B2BABB;
}
.container {
    padding-top: 10% ;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 15%;
    background-color: rgb(67, 66, 66);
}
.divisoria {
    right: 15%;
    margin-top: 10%;
}
#cliente {
    left: 12px;
    position: absolute;
    padding: 12px;
    align-items: center;
}